
<html>

<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,300,100italic,400italic' rel='stylesheet' type='text/css'>
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<style>
label {
  font-family: helvetica;
  font-size: 10px;
  text-align: center;
}

input {
  border: 1px solid black;
  padding:5px;
  height: 30px;
  width: 150px;
  line-height: 10px;
  }
textarea {
  border: 1px solid black;
  padding:10px;
}
.and {
  font-size: 20px;
  font-style: italic;
  font-weight:100;
}

.submit {
  padding:5px; 
  background-color:white; 
  border:1px black solid;
  height: 30px;
  width: 30px;
  line-height: 10px;
}
</style>
</head>


<body>


<div id="wrapper">
  <div id="home"> <div id="home-text">
 
  <p><img src="images/vanitylogo.png" style="width:60%"><br>
    <div style="margin-top:-50px">
  A SELF PORTRAIT.  A PROJECTION. AN ANALYSIS. A THOUGHT.<br><em> AN IDEA OF SELF.</em></p>
</div>

<!--     <div id='sign-in' class="group"> -->


  <div class="span6 clear">
    
    <form method="POST" action="/sign-in" class="well">


      <input name="username" type="text" placeholder="username"/>

      
      <span class="and"> & </span>

      


  <input  name="password" type="password" placeholder="password"/>


       <button type="submit" class="btn submit" value="Send">go</button>


      <br><br><br>


      <p style="font-size:12px;"><strong> <a href="signup">sign up></a> </strong> </p>
     

    </form>

</div>
</div>
</div>
</div>
</div>




<script>

$( document ).ready(function() {
  $("#home-text").addClass("load");
});

</script>



<!-- <footer></footer> -->
  
   
     
</div>
</body>
</html>