<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,300,100italic,400italic' rel='stylesheet' type='text/css'>
</head>
<body>


<div class="gutter">   <!-- gutter start -->


<a href="mainpage">
  <div class="nav" title="">
      <div class="air">

      <img src="images/homeicon.png">
      <p>index</p>

      </div>
    </div>
  </a>


  <div class="nav" title="">
    <div class="air">
    <p><br><img src="images/vanitylogo.png"></p>
    <p>a self portrait. a projection. an analysis. a thought.<br><em> an idea of self.</em></p>
    <button><a href="/logout">LOGOUT</a></button>

  <% if flash[:notice] %>
    <h1 class="flash-notice">
      <%= flash[:notice] %>
    </h1>
  <% end %>
  <% if flash[:alert] %>
    <h1 class="flash-alert">
      <%= flash[:alert] %>
    </h1>
  <% end %>



    </div>
  </div>


<a href="profile">
  <div class="nav linkleft">
    <div class="air">
      <img src="images/selfieicon.png">
      <p>profile</p>
    </div>
  </div>
</a>




<div id="content">


<%= yield %>


 </content>




</div>
</div>


<!-- 
<footer></footer> -->
  
   
    
</div>

</body>
</html>