<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,300,100italic,400italic' rel='stylesheet' type='text/css'>

<style type="text/css">

.textarea1 {
  height: 200px;
  width: 400px;
}
</style>

</head>

<body>
 <center>
 <h1>New Post Form</h1>
<!--
  this is the new post form 
  pay special attention to the method and action attributes
  method="POST" and action="/posts" means it will go to the
  post "/posts" route defined in the app.rb file
 -->
  <form method="POST" action="/posts">
    <p><textarea class="textarea1" name="body"></textarea></p>
    <input type="submit" value="Submit">
  </form>
 </center>



<div class="post"><div class="post-info"> posted by: <br> </div> <img src="images/placeholder.jpg"></div>
<div class="post"><div class="post-info"> posted by: <br> </div> <img src="images/placeholder.jpg"></div>
<div class="post"><div class="post-info"> posted by: <br> </div> <img src="images/placeholder.jpg"></div>
<div class="post"><div class="post-info"> posted by: <br> </div> <img src="images/placeholder.jpg"></div>
<div class="post"><div class="post-info"> posted by: <br> </div> <img src="images/placeholder.jpg"></div>



</body>
</html>





