


<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,300,100italic,400italic' rel='stylesheet' type='text/css'>
</head>
<body>




<div class="post"><div class="post-info"> posted by: <br> </div> <img src="images/placeholder.jpg"></div>
<div class="post"><div class="post-info"> posted by: <br> </div> <img src="images/placeholder.jpg"></div>
<div class="post"><div class="post-info"> posted by: <br> </div> <img src="images/placeholder.jpg"></div>
<div class="post"><div class="post-info"> posted by: <br> </div> <img src="images/placeholder.jpg"></div>
<div class="post"><div class="post-info"> posted by: <br> </div> <img src="images/placeholder.jpg"></div>



</body>
</html>





