<html>
<head>
   <title>Vanity</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>

<div id="wrapper">
  <div id="home" style="background-color:lightgrey;"> 
    <div id="home-text">
      <img src="images/vanitylogo.png" style="width:30%"><br>
      <div class="span6 clear">
        <form method="POST" action="/signup">
          <input type="text" name="email" placeholder="email">
          <input type="password" name="password" placeholder="password">
          <input type="submit" value="Create Account">
        </form>
      </div>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
  $("#home-text").addClass("load");
});
</script>

     
</div>
</body>
</html>