
<html>
<head>
  <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,300,100italic,400italic' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>


<!-- <div class="container fluid"> -->
 
<div id="wrapper">

<div id="home" style="background-color:lightgrey;"> 


<!--   <div class="sign-up"> </div> -->

  <div id="home-text">
  <p><img src="images/vanitylogo.png" style="width:30%"><br>


<!--     <div id='sign-in' class="group"> -->

  <div class="span6 clear">


    <form method="POST" action="/contact-us-post" class="well">

      <label for="name_input"></label>
      <input type="text" name="name_input" class="span4" placeholder="username">
      <span class="and"> </span>
      <p>
      <label for="email_input"></label>
      <input type="text" name="email_input" class="span4" placeholder="password">
      <p>
<!--       <label for="name_input"></label>
      <input type="text" name="name_input" class="span4" placeholder="email">
      <span class="and"> </span> -->
      <p>
      <label for="name_input"></label>
      <input type="text" name="name_input" class="span4" placeholder="first name">
      <span class="and"> </span>
      <p>
      <label for="name_input"></label>
      <input type="text" name="name_input" class="span4" placeholder="last name">
      <span class="and"> </span>
      <p>




     </p>

      <label for="message_body"></label>
      <textarea name="message_body" cols='77' rows="5" placeholder="about me"></textarea><br>

    </p>

     

       <button type="submit" class="btn" value="Send" style="padding:5px; background-color:white; border:1px black solid;">go</button>


      <br><bR><br>
</div>

     
    </form>
  </div>
</div>





</div>
</div>
</div>


<script>
$( document ).ready(function() {
  $("#home-text").addClass("load");
});
</script>

<!-- <footer></footer> -->
     
</div>

</body>
</html>